# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
.venv/
env/
venv/
pyvenv.cfg

# Python/Jupyter related
.ipynb_checkpoints/
*.ipynb

# Julia
juliaSim/.julia/
juliaSim/.cache/
juliaSim/Manifest.toml

# Compiled binary files
*.so
*.dylib
*.dll
*.out
*.exe
*.o

# OS / Editor specific
.DS_Store
Thumbs.db
.vscode/
*.swp

# Logs and test outputs
*.log
*.tmp
*.bak

# Media files
*.mp4
*.gif
